<plugin name='request-tracelog' version='0.1' grailsVersion='1.1.1 &gt; *'>
  <author>nobeans</author>
  <authorEmail>nobeans@gmail.com</authorEmail>
  <title>filter for debug logging</title>
  <description>\
This plugin has a Filter to output some information of request/response to standard output.
It's useful for debugging.
Logging is active only at development environment.
It's very simple.
</description>
  <documentation>http://grails.org/RequestTracelog+Plugin</documentation>
  <resources>
    <resource>DataSource</resource>
    <resource>RequestTracelogFilters</resource>
    <resource>UrlMappings</resource>
  </resources>
  <dependencies />
</plugin>